<div class="container">
    <footer class="footer">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h4>Про нас</h4>
                <p>В нашому інтенет-магазині Fakestor ви знайдете все що забажаєте, товари на будь-якій смак і гаманець
                    <br><br>
                    Рекомендуйте нас своїм друзям, та отримуйте чудові знижки
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4>Контакти</h4>
                <ul class="contact-info">
                    <li><i class="fa fa-map-marker"></i> Hlybochytska Street, Kyiv, Ukraine</li>
                    <li><i class="fa fa-phone"></i> +38 098 758 25 15</li>
                    <li><i class="fa fa-phone"></i> +38 063 544 23 87</li>
                    <li><i class="fa fa-envelope"></i> internet-shop@fakestor.com</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Долучайся до нас</h4>
                <div class="social-icons">
                    <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>