<h1>Інтернет-магазин Fakestore</h1>

<div class="container">
  <h2>Каталог</h2>

  <div class="mb-3">
    <label>Фільтр за категорією:</label>
    <select class="form-select" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
      <option value="">Всі</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="label">Сортування:</label>
    <button class="btn btn-primary sort" (click)="toggleSortDirection()">
      {{ sortDirection === 'asc' ? 'За зростанням ціни' : 'За спаданням ціни' }}
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div *ngFor="let product of products" class="col mb-3">
      <div class="card d-grid">
        <img [src]="product.image" class="card-img-top image" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">Ціна: {{ product.price }} $</p>
          <!-- Додайте інші поля продукту, які ви хочете відобразити -->
          <button class="btn btn-primary" (click)="viewProductDetails(product)">Детальніше</button>
          <button class="btn btn-success" (click)="addToCart(product)">Додати до кошика</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="totalItems"
      (pageChange)="onPageChange($event)" class="justify-content-center"></ngb-pagination>
  </div>
  

  <ng-template #noProducts>
    <p>Немає продуктів.</p>
  </ng-template>
</div>

<app-footer></app-footer>